[rosetta mapping]

#rosetta field on the left
#export field on the right

Title=Title

#Access maps to next section to enable multiple access mappings
Access=Restriction Status

Archway Identifier for publishing=Item Code
Archway Identifier Value=Item Code
Series=Final Series
Agency=Transferring Agency
File fixity value=Missing Comment

[static values]

Archway Identifier Type=ArchwayUniqueID
Entity Type=ANZ_BornDigital
Submission Reason=DigitalTransfer
Revision Number=1
Usage Type=VIEW
Preservation Type=PRESERVATION_MASTER
File fixity type=MD5

#If events do this... Leave blank to manually add provenance (default)

Digital Original=TRUE
Event Identifier Type=
Event Identifier Value=
Event Type=
Event Description=
Event Date=
Event Outcome1=
Event Outcome Detail1=
Event Outcome Detail Extension1=
Event Outcome2=
Event Outcome Detail2=
Event Outcome Detail Extension2=
Event Outcome3=
Event Outcome Detail3=
Event Outcome Detail Extension3=

#Ideal defaults

#Digital Original=TRUE
#Event Identifier Type=EXTERNAL
#Event Identifier Value=EXT_1
#Event Type=CREATION
#Event Description=Provenance Note

[access values]

#Access maps to this section to enable multiple access mappings
O=1916130

[droid mapping]

File Name=NAME
File Location=FILE_PATH
File Original Path=FILE_PATH

[path values]

pathmask=B:\distilled\Mahara Okeroa - E1\

[rosetta csv fields]  
#rosetta fields go here, but also need to be reflected in rosetta-csv-validation-schema-anz.json
#NOTE: No spaces allowed between lists
#TODO: Possibly allow spaces between lists

CSVSECTIONS=IE,REPRESENTATION,FILE

IE = Title,Access,Archway Identifier for publishing,Archway Identifier Type,Archway Identifier Value,Series,Agency,Entity Type,Submission Reason,Event Identifier Type,Event Identifier Value,Event Type,Event Description,Event Date,Event Outcome1,Event Outcome Detail1,Event Outcome Detail Extension1,Event Outcome2,Event Outcome Detail2,Event Outcome Detail Extension2,Event Outcome3,Event Outcome Detail3,Event Outcome Detail Extension3
REPRESENTATION = Revision Number,Usage Type,Preservation Type,Digital Original
FILE = File Location,File Original Path,File Name,File fixity type,File fixity value